/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-color: lightgray;
}

h1{
  text-align: center;
}
button{
  align-items: center;
}
#toDoSheet ul{
  text-align: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
